body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.content-wrapper {
    width: 80%;
    margin: 30px auto;

}

.content {
    border: 2px solid rgb(37, 34, 34);
}

.container {
    margin-left: 40px;
    margin-bottom: 50px;
}

.color {
    border: 1px solid rgb(23, 23, 91);
    height: 100px;
    width: 250px;
    text-align: center;
    display: inline-block;
    margin: 20px 10px 0 0;
}

.navPurple {
    background-color: #942dad;
    color: #e5d8e9;
}

.whiteText {
    background-color: #e5d8e9;
}

.purpleText {
    background-color: #a83cc4;
    color: #e5d8e9;
}

.purpleBack {
    background-color: #c563dd ;
    color: #e5d8e9;
}

.offwhiteBack {
    background-color: #fbfaf8;
}

.font {
    display: inline-block;
    margin: 0 60px 40px 0;
}

.container h3 {
    text-decoration: underline;
}

.font p {
    font-size: 18px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.openSans {
    font-family: 'Open Sans', sans-serif;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

.helvetica {
    font-family: helvetica, sans-serif;
}

.sanSerif {
    font-family: sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.bitter {
    font-family: 'Bitter', sans-serif;
}

.sourceSansPro {
    font-family: 'Source Sans Pro', sans-serif;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.container li {
    margin: 10px 0;
}

.main-heading {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Open Sans';
}

.sub-heading {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: 'Open Sans';
}

.p-tag {
    font-size: 1.15rem;
    font-weight: 500;
    font-family: 'Open Sans';
}

.style-container {
    margin: 10px 0 30px;
}






